<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- General -->
	<category label="40300">
		<!-- General Customization -->
		<setting type="lsep" label="40485"/>
		<setting id="general.titlelanguage" type="labelenum" label="40369" lvalues="40370|40371" default ="40371"/>
		<setting id="general.searchhistory" type="labelenum" label="40301" values="Yes|No" default="Yes"/>
		<setting id="general.showchangelog" type="labelenum" label="40426" values="Yes|No" default="Yes"/>
		<setting id="changelog.clean_cache" type="bool" label="40488" default="true"/>
		<setting id="general.smartscroll" type="bool" label="40483" default="False" />
		<setting id="general.smartscroll.wait.time" type="slider" label="40487" default="500" range="10,100,2000" option="int" visible="eq(-1,true)" />
		<setting id="general.spoilers" type="bool" label="40486" default="False" />

		<!-- Content Customization -->
		<setting type="lsep" label="40302"/>
		<setting id="sep"/>
		<setting id="divflavors.bool" label="40428" type="bool" default="false"/>
		<setting id="divflavors.menu" type="labelenum" subsetting="true" label="40429" values="Sub|Dub|Both" default="Sub" visible="eq(-1,true)"/>
		<setting id="sep"/>
		<setting id="contentformat.bool" label="40391" type="bool" default="false"/>
		<setting id="contentformat.menu" type="enum" subsetting="true" label="40392" lvalues="40393|40394|40395|40396|40397|40398|40399" default="40393" visible="eq(-1,true)"/>
		<setting id="sep"/>
		<setting id="licensedBy.bool" label="40472" type="bool" default="false"/>
		<setting id="licensedBy.menu" type="labelenum" subsetting="true" label="40473" values="Crunchyroll|Hulu|Funimation|Netflix|YouTube|HIDIVE|Amazon|Vimeo|VRV|HBO Max|Wakanim|RetroCrush|Adult Swim|Japanese Film Archives|Tubi TV|Crackle|AsianCrush|Midnight Pulp|CONtv|Fakku|Bilibili|Disney Plus|Bilibili TV|Tencent Video|iQ|Youku|WeTV|Niconico Video|Rooster Teeth|iQIYI|Star+" default="Crunchyroll" visible="eq(-1,true)"/>
		<setting id="sep"/>
		<setting id="contentorigin.bool" label="40418" type="bool" default="false"/>
		<setting id="contentorigin.menu" type="enum" subsetting="true" label="40419" lvalues="40420|40421|40422|40423" default="0" visible="eq(-1,true)"/>
		<setting id="sep"/>
		<setting id="perpage.bool" label="40466" type="bool" default="false"/>
		<setting id="perpage.menu" type="slider" subsetting="true" label="40467" range="5,5,50" default="20" option="int" visible="eq(-1,true)"/>
		<setting id="sep"/>
		<setting id="context.delete.from.database" type="bool" label="40501" default="false" />

		<!-- Artwork Customization -->
		<setting type="lsep" label="40484"/>
		<setting id="general.icons" type="enum" label="40388" values="Coloured|White|Exodus|Seren|ColouredV2|WhiteV2|ExodusV2|SerenV2" default="4"/>
		<setting id="general.dialog" type="enum" label="40455" lvalues="40456|40457|40458" default="0"/>
		<setting id="scraping.fanart" type="bool" label="40433" default="false" />
		<setting id="scraping.clearlogo" type="bool" label="40434" default="false" />

		<!--
		<setting id="contenttype.seasons" type="labelenum" label="- Seasons content type" values="seasons|tvshows" default="tvshows" visible="eq(-2,true)"/>
		<setting id="contenttype.episodes" type="labelenum" label="- Episodes content type" values="episodes|tvshows" default="tvshows" visible="eq(-3,true)"/>

		<setting id="sep"/>
		<setting id="viewtype.bool" label="Force view types" type="bool" default="false"/>
		<setting id="viewtype.episode" type="select" label="- Episode view" values='Default|Poster|Icon Wall|Shift|Info Wall|Wide List|Wall|Banner|Fanart' default="Default" visible="eq(-1,true)"/>
		-->
	</category>

	<!-- Provider -->
	<category label="40226">
		<!-- Torrents -->
		<setting type="lsep" label="40221" />
		<setting type="sep"/>
		<setting id="provider.nyaa" type="bool" label="Nyaa" default="true" enable="eq(1,false)" />
		<setting id="provider.nyaaalt" type="bool" label="Nyaa Alt (For Verizon Users)" default="false" enable="eq(-1,false)" />
		<setting id="provider.animetosho" type="bool" label="Anime Tosho" default="true" />

		<!-- English Embeds -->
		<setting type="lsep" label="40504" />
		<setting type="sep"/>
		<setting id="provider.animix" type="bool" label="Animix" default="true" />
		<setting id="provider.animepahe" type="bool" label="Animepahe" default="true" />
		<setting id="provider.aniwatch" type="bool" label="Aniwatch" default="true" />
		<setting id="provider.gogo" type="bool" label="Gogo" default="true" />
		<setting id="provider.gogohd" type="bool" label="Gogo HD" default="true" />
		<setting id="provider.nineanime" type="bool" label="9Anime" default="true" />
		<setting id="provider.zoro" type="bool" label="Zoro" default="true" />

		<!-- Portugese Embeds -->
		<setting type="lsep" label="40505" />
		<setting type="sep"/>
		<setting id="provider.animess" type="bool" label="Otaku Animes" default="true" />
	</category>

	<!-- Playback -->
	<category label="40307">
		<!-- General -->
		<setting type="lsep" label="40300" />
		<setting id="general.playstyle.movie" type="enum" label="40308" lvalues="40310|40311" default="0" />
		<setting id="general.playstyle.episode" type="enum" label="40309" lvalues="40310|40311" default="0" />
		<setting id="general.autotrynext" type="bool" label="40312" default="true" />
		<setting id="general.timeout" type="slider" label="40425" option="int" range="1, 60" default="10" />
		<setting id="general.terminate.oncloud" type="bool" label="40496" default="true" />

		<!-- Preferences -->
		<setting type="lsep" label="40313" />
		<setting type="sep"/>
		<setting id="general.kodi_language" type="bool" label="40495" default="false" />
		<setting id="general.audio" type="enum" label="40314" default="40315" lvalues="40315|40316" enable="eq(-1,false)" />
		<setting id="general.subtitles" type="enum" label="40435" default="40436" lvalues="40436|40437|40438|40439|40440|40441|40442|40443|40444|40445|40446|40447|40448|40449|40450|40451|40452|40453|40454" enable="eq(-2,false)" />
		<setting id="general.source" type="labelenum" label="40330" default="Sub" values="Sub|Dub|Both" />
		<setting id="general.sourcesort" type="labelenum" label="40333" default="Random" values="Random|Sub|Dub" visible="eq(-1,Both)" />
		<setting id="general.playlist_length" type="slider" label="40459" default="30" range="10,5,50" option="int" />
		<setting id="general.dubsubtitles" type="bool" label="40427" default="false"/>

		<!-- Next Episode Dialog -->
		<setting type="lsep" label="40317" />
		<setting type="sep" />
		<setting id="smartplay.playingnextdialog" type="bool" label="40318" default="true" />
		<setting id="skipoutro.aniskip.enable" type="bool" subsetting="true" label="40431" default="false" visible="eq(-1,true)" />
		<setting id="skipoutro.aniskip.auto" type="bool" subsetting="true" label="40460" default="false" visible="eq(-1,true) + eq(-2,true)" />
		<setting id="skipoutro.aniskip.offset" type="slider" subsetting="true" label="40432" visible="eq(-2,true) + eq(-3,true)" range="-10,10" default="-3"/>
		<setting id="playingnext.time" type="slider" subsetting="true" label="40319" option="int" range="10,120" default="90" visible="eq(-4,true)" />
		<!--<setting id="playingnext.dialogstyle" type="enum" subsetting="true" label="40334" lvalues="40129|40335" default="0" visible="eq(-2,true)" />-->
		<setting id="playingnext.defaultaction" type="enum" subsetting="true" label="40320" lvalues="40321|40322" default="0" visible="eq(-5,true)" />

		<!-- Skip Intro Dialog -->
		<setting type="lsep" label="40323" />
		<setting type="sep" />
		<setting id="smartplay.skipintrodialog" type="bool" label="40324" default="true" />
		<setting id="skipintro.aniskip.enable" type="bool" subsetting="true" label="40431" default="false" visible="eq(-1,true)" />
		<setting id="skipintro.aniskip.auto" type="bool" subsetting="true" label="40461" default="false" visible="eq(-1,true) + eq(-2,true)" />
		<setting id="skipintro.aniskip.offset" type="slider" subsetting="true" label="40432" visible="eq(-2,true) + eq(-3,true)" range="-10,10" default="-3"/>
		<setting id="skipintro.time" type="slider" subsetting="true" label="40325" option="int" range="10,100" default="86" visible="eq(-4,true)" />
		<setting id="skipintro.delay" type="slider" subsetting="true" label="40424" option="int" range="1,100" default="2" visible="eq(-5,true)" />
		<setting id="skipintro.duration" type="slider" subsetting="true" label="40430" option="int" range="0,5" visible="eq(-6,true)" />
	</category>

	<!-- Sort & Filter -->
	<category label="40326">
		<!-- Source Filters -->
		<setting type="lsep" label="40327"/>
		<setting id="general.maxResolution" type="enum" label="40328" values="4k|1080p|720p|NA" default="0" />
		<setting id="torrent.disable265" type="bool" label="40329" default="false" />
		<setting id="torrent.batch" type="bool" label="40500" default="false" enable="eq(1, 0)" />
    	<setting id="general.fileFilter" type="enum" label="40489" lvalues="40497|40498|40499" default="0" />
    	<setting id="general.webspeed" type="number" subsetting="true" label="40490" default="20" allowempty="false" visible="eq(-1, 1)" />
    	<setting id="general.movie.maxGB" type="slider" subsetting="true" label="40491" option="int" default="10" range="0,100" visible="eq(-2, 2)" />
    	<setting id="general.movie.minGB" type="slider" subsetting="true" label="40492" option="int" default="0" range="0,100" visible="eq(-3, 2)" />
    	<setting id="general.episode.maxGB" type="slider" subsetting="true" label="40493" option="int" default="10" range="0,100" visible="eq(-4, 2)" />
    	<setting id="general.episode.minGB" type="slider" subsetting="true" label="40494" option="int" default="0" range="0,100" visible="eq(-5, 2)" />
		<setting type="sep" />
		<!-- Manual File Selection -->
		<setting type="lsep" label="40481"/>
		<setting id="general.selection" type="bool" label="40482" default="false" />
		<!-- Source Sorting -->
		<setting type="lsep" label="40331"/>
		<setting id="general.sortsources" type="enum" label="40332" values="Torrents|Embeds" default="0" />
		<!-- Prioritized Source Sorting -->
		<setting type="lsep" label="40465"/>
		<setting id="general.prioritize_dualaudio" type="bool" label="40462" default="false" enable="eq(2,false) + eq(1,false) + eq(-2,0)" />
		<setting id="general.prioritize_multisubs" type="bool" label="40463" default="false" enable="eq(1,false) + eq(-1,false) + eq(-3,0)" />
		<setting id="general.prioritize_batches" type="bool" label="40464" default="false" enable="eq(-2,false) + eq(-1,false) + eq(-4,0)" />
		<setting id="general.prioritize_season" type="bool" label="40468" default="false" enable="eq(-5,0)" />
		<setting id="menu.prioritize_season" type="number" subsetting="true" label="40469" option="int" default="1" visible="eq(-1,true)" enable="eq(-6,0)" />
		<setting id="general.prioritize_part" type="bool" label="40470" default="false" enable="eq(-7,0)" />
		<setting id="menu.prioritize_part" type="number" subsetting="true" label="40471" option="int" default="1" visible="eq(-1,true)" enable="eq(-8,0)" />
		<!-- Search Filtering -->
		<setting type="lsep" label="40409"/>
		<setting id="search.adult" type="bool" label="40410" default="false" />
	</category>

	<!-- Accounts -->
	<category label="40334">
		<!-- All Debrid -->
		<setting type="lsep" label="40340" />
		<setting type="sep" />
		<setting id="alldebrid.enabled" type="bool" default="false" label="40341" />
		<setting id="alldebrid.username" type="text" default="" label="40342" enable="false" visible="eq(-1,true)"/>
		<setting id="alldebrid.auth_start" type="action" label="40343" option="close" action="RunPlugin(plugin://plugin.video.otaku/authAllDebrid)" visible="eq(-2,true)" />
		<setting id="alldebrid.priority" type="slider" subsetting="true" label="40344" option="int" range="1,1,10" default="10" visible="eq(-3,true)" />
		<!-- Debrid-Link -->
		<setting type="lsep" label="40411" />
		<setting type="sep" />
		<setting id="dl.enabled" type="bool" default="false" label="40412" />
		<setting id="dl.username" type="text" default="" label="40413" enable="false" visible="eq(-1,true)"/>
		<setting id="dl.auth_start" type="action" label="40414" option="close" action="RunPlugin(plugin://plugin.video.otaku/authDebridLink)" visible="eq(-2,true)" />
		<setting id="dl.priority" type="slider" subsetting="true" label="40415" option="int" range="1,1,10" default="10" visible="eq(-3,true)" />
		<!-- <setting id="dl.cloudInspection" type="bool" subsetting="true" label="40372" default="false" visible="eq(-4,true)" /> -->
		<!-- Premiumize -->
		<setting type="lsep" label="40363" />
		<setting type="sep" />
		<setting id="premiumize.enabled" type="bool" default="false" label="40364" />
		<setting id="premiumize.username" type="text" label="40365" default="" enable="false" visible="eq(-1,true)" />
		<setting id="premiumize.auth_start" type="action" label="40366" option="close" action="RunPlugin(plugin://plugin.video.otaku/authPremiumize)" visible="eq(-2,true)" />
		<setting id="premiumize.priority" type="slider" subsetting="true" label="40367" option="int" range="1,1,10" default="10" visible="eq(-3,true)" />
		<setting id="premiumize.cloudInspection" type="bool" subsetting="true" label="40372" default="false" visible="eq(-4,true)" />
		<!-- Real-Debrid -->
		<setting type="lsep" label="40335" />
		<setting type="sep" />
		<setting id="realdebrid.enabled" type="bool" default="false" label="40336" />
		<setting id="rd.username" type="text" label="40337" default="" enable="false" visible="eq(-1,true)" />
		<setting id="rd.auth_start" type="action" label="40338" option="close" action="RunPlugin(plugin://plugin.video.otaku/authRealDebrid)" visible="eq(-2,true)" />
		<setting id="rd.priority" type="slider" subsetting="true" label="40339" option="int" range="1,1,10" default="10" visible="eq(-3,true)" />
		<setting id="rd.cloudInspection" type="bool" subsetting="true" label="40372" default="false" visible="eq(-4,true)" />
	</category>

	<!-- Watchlist -->
	<category label="40345">
		<!-- General -->
		<setting type="lsep" label="40300"/>
		<setting id="sep"/>
		<setting id="watchlist.update.enabled" label="40346" type="bool" default="false"/>
		<setting id="watchlist.update.flavor" type="labelenum" subsetting="true" label="40347" values="MAL|Kitsu|AniList" default="MAL" visible="eq(-1,true)"/>

		<!-- Anilist -->
		<setting type="lsep" label="40348"/>
		<setting id="sep"/>
		<setting id="anilist.enabled" label="40349" type="bool" default="false"/>
		<setting id="anilist.username" type="text" subsetting="true" label="40350" default="" enable="false" visible="eq(-1,true)"/>
		<setting id="anilist.token" type="text" subsetting="true" label="40351" default="" enable="false" visible="eq(-2,true)" />
		<setting id="anilist.login" type="action" subsetting="true" label="40352" option="close" action="RunPlugin(plugin://plugin.video.otaku/watchlist_login/anilist?auth_dialog=true)" visible="eq(-3,true)"/>
		<setting id="anilist.listsettings" type="action" label="40353" option="close" visible="eq(-4,true)"/>
		<setting id="anilist.sort" type="labelenum" subsetting="true" label="40354" values="Romaji Title|English Title|Score|Progress|Last Updated|Last Added" default="Last Updated" visible="eq(-5,true)"/>

		<!-- Kitsu -->
		<setting type="lsep" label="40355"/>
		<setting id="sep"/>
		<setting id="kitsu.enabled" label="40356" type="bool" default="false"/>
    	<setting id="kitsu.username" type="text" subsetting="true" label="40350" default="" enable="false" visible="eq(-1,true)" />
		<setting id="kitsu.authvar" type="text" subsetting="true" label="40357" default="" visible="eq(-2,true)"/>
    	<setting id="kitsu.password" type="text" subsetting="true" option="hidden" label="40358" default="" visible="eq(-3,true)"/>
		<setting id="kitsu.login" type="action" subsetting="true" label="40359" option="close" action="RunPlugin(plugin://plugin.video.otaku/watchlist_login/kitsu)" visible="eq(-4,true)"/>
		<setting id="kitsu.listsettings" type="action" label="40353" option="close" visible="eq(-5,true)"/>
		<setting id="kitsu.sort" type="labelenum" subsetting="true" label="40354" values="Date Updated|Progress|Title" default="Date Updated" visible="eq(-6,true)"/>
		<setting id="kitsu.titles" type="labelenum" subsetting="true" label="40360" values="Canonical|Romanized|English" default="Canonical" visible="eq(-7,true)"/>

		<!-- MyAnimeList -->
		<setting type="lsep" label="40361"/>
		<setting id="sep"/>
		<setting id="mal.enabled" label="40362" type="bool" default="false"/>
    	<setting id="mal.username" type="text" subsetting="true" label="40350" default="" enable="false" visible="eq(-1,true)"/>
		<setting id="mal.login" type="action" subsetting="true" label="40352" option="close" action="RunPlugin(plugin://plugin.video.otaku/watchlist_login/mal?auth_dialog=true)" visible="eq(-2,true)"/>
		<setting id="mal.listsettings" type="action" label="40353" option="close" visible="eq(-3,true)"/>
		<setting id="mal.sort" type="labelenum" subsetting="true" label="40354" values="List Score|Last Updated|Anime Start Date|Anime Title" default="Last Updated" visible="eq(-4,true)"/>
		<setting id="mal.userid" type="text"  default="" visible="false"/>
		<setting id="mal.authvar" type="text"  default="" visible="false"/>
		<setting id="mal.token" type="text"  default="" visible="false"/>
		<setting id="mal.refresh" type="text"  default="" visible="false"/>
		<setting id="mal.password" type="text"  default="" visible="false"/>
		<setting id="mal.titles" type="text"  default="" visible="false"/>
	</category>

	<!-- Main Menu Customization -->
	<category label="50050">
		<!-- Main Menu Items -->	
		<setting type="lsep" label="50051"/>
		<setting id="sep"/>		
		<setting id="anilist_airing_calendar" label="50000" type="bool" default="true"/>
		<setting id="anilist_airing_anime" label="50001" type="bool" default="true"/>
		<setting id="movies" label="50002" type="bool" default="true"/>
		<setting id="tv_shows" label="50003" type="bool" default="true"/>
		<setting id="trending" label="50004" type="bool" default="true"/>
		<setting id="popular" label="50005" type="bool" default="true"/>
		<setting id="voted" label="50006" type="bool" default="true"/>
		<setting id="completed" label="50007" type="bool" default="true"/>
		<setting id="upcoming" label="50008" type="bool" default="true"/>
		<setting id="anilist_top_100_anime" label="50009" type="bool" default="true"/>
		<setting id="anilist_genres" label="50010" type="bool" default="true" visible="false"/>
		<setting id="anilist_search" label="50011" type="bool" default="true" visible="false"/>
		<setting id="tools" label="50012" type="bool" default="true"/>

		<!-- Movie Menu Items -->
		<setting type="lsep" label="50052"/>
		<setting id="sep"/>
		<setting id="anilist_airing_calendar_movie" label="50000" type="bool" default="true"/>
		<setting id="anilist_airing_anime_movie" label="50001" type="bool" default="true"/>
		<setting id="trending_movie" label="50004" type="bool" default="true"/>
		<setting id="popular_movie" label="50005" type="bool" default="true"/>
		<setting id="voted_movie" label="50006" type="bool" default="true"/>
		<setting id="completed_movie" label="50007" type="bool" default="true"/>
		<setting id="upcoming_movie" label="50008" type="bool" default="true"/>
		<setting id="anilist_top_100_anime_movie" label="50009" type="bool" default="true"/>
		<setting id="anilist_genres_movie" label="50010" type="bool" default="true" visible="false"/>
		<setting id="search_history_movie" label="50011" type="bool" default="true" visible="false"/>

		<!-- TV Show Menu Items -->
		<setting type="lsep" label="50053"/>
		<setting id="sep"/>
		<setting id="anilist_airing_calendar_tv" label="50000" type="bool" default="true"/>
		<setting id="anilist_airing_anime_tv" label="50001" type="bool" default="true"/>
		<setting id="trending_tv" label="50004" type="bool" default="true"/>
		<setting id="popular_tv" label="50005" type="bool" default="true"/>
		<setting id="voted_tv" label="50006" type="bool" default="true"/>
		<setting id="completed_tv" label="50007" type="bool" default="true"/>
		<setting id="upcoming_tv" label="50008" type="bool" default="true"/>
		<setting id="anilist_top_100_anime_tv" label="50009" type="bool" default="true"/>
		<setting id="anilist_genres_tv" label="50010" type="bool" default="true" visible="false"/>
		<setting id="search_history_tv" label="50011" type="bool" default="true" visible="false"/>
	</category>

	<!-- Submenu Customization -->
	<category label="50054">
		<!-- Main Menu - Trending Items -->	
		<setting type="lsep" label="50055"/>
		<setting id="sep"/>		
		<setting id="anilist_trending_last_year_trending" label="50013" type="bool" default="true"/>
		<setting id="anilist_trending_this_year_trending" label="50018" type="bool" default="true"/>
		<setting id="anilist_trending_last_season_trending" label="50024" type="bool" default="true"/>
		<setting id="anilist_trending_this_season_trending" label="50029" type="bool" default="true"/>
		<setting id="anilist_all_time_trending_trending" label="50035" type="bool" default="true"/>

		<!-- Main Menu - Popular Items -->	
		<setting type="lsep" label="50056"/>
		<setting id="sep"/>			
		<setting id="anilist_popular_last_year_popular" label="50014" type="bool" default="true"/>
		<setting id="anilist_popular_this_year_popular" label="50019" type="bool" default="true"/>
		<setting id="anilist_popular_last_season_popular" label="50025" type="bool" default="true"/>
		<setting id="anilist_popular_this_season_popular" label="50030" type="bool" default="true"/>
		<setting id="anilist_all_time_popular_popular" label="50036" type="bool" default="true"/>

		<!-- Main Menu - Voted Items -->	
		<setting type="lsep" label="50057"/>
		<setting id="sep"/>			
		<setting id="anilist_voted_last_year_voted" label="50015" type="bool" default="true"/>
		<setting id="anilist_voted_this_year_voted" label="50020" type="bool" default="true"/>
		<setting id="anilist_voted_last_season_voted" label="50026" type="bool" default="true"/>
		<setting id="anilist_voted_this_season_voted" label="50031" type="bool" default="true"/>
		<setting id="anilist_all_time_voted_voted" label="50037" type="bool" default="true"/>

		<!-- Main Menu - Completed Items -->	
		<setting type="lsep" label="50058"/>
		<setting id="sep"/>			
		<setting id="anilist_completed_last_year_completed" label="50016" type="bool" default="true"/>
		<setting id="anilist_completed_this_year_completed" label="50021" type="bool" default="true"/>
		<setting id="anilist_completed_last_season_completed" label="50027" type="bool" default="true"/>
		<setting id="anilist_completed_this_season_completed" label="50032" type="bool" default="true"/>

		<!-- Main Menu - Upcoming Items -->		
		<setting type="lsep" label="50059"/>
		<setting id="sep"/>			
		<setting id="anilist_upcoming_last_year_upcoming" label="50017" type="bool" default="true"/>
		<setting id="anilist_upcoming_this_year_upcoming" label="50022" type="bool" default="true"/>
		<setting id="anilist_upcoming_next_year_upcoming" label="50023" type="bool" default="true"/>
		<setting id="anilist_upcoming_last_season_upcoming" label="50028" type="bool" default="true"/>
		<setting id="anilist_upcoming_this_season_upcoming" label="50033" type="bool" default="true"/>
		<setting id="anilist_upcoming_next_season_upcoming" label="50034" type="bool" default="true"/>

		<!-- Movies - Trending Items -->	
		<setting type="lsep" label="50060"/>
		<setting id="sep"/>		
		<setting id="anilist_trending_last_year_trending_movie" label="50013" type="bool" default="true"/>
		<setting id="anilist_trending_this_year_trending_movie" label="50018" type="bool" default="true"/>
		<setting id="anilist_trending_last_season_trending_movie" label="50024" type="bool" default="true"/>
		<setting id="anilist_trending_this_season_trending_movie" label="50029" type="bool" default="true"/>
		<setting id="anilist_all_time_trending_trending_movie" label="50035" type="bool" default="true"/>

		<!-- Movies - Popular Items -->	
		<setting type="lsep" label="50061"/>
		<setting id="sep"/>			
		<setting id="anilist_popular_last_year_popular_movie" label="50014" type="bool" default="true"/>
		<setting id="anilist_popular_this_year_popular_movie" label="50019" type="bool" default="true"/>
		<setting id="anilist_popular_last_season_popular_movie" label="50025" type="bool" default="true"/>
		<setting id="anilist_popular_this_season_popular_movie" label="50030" type="bool" default="true"/>
		<setting id="anilist_all_time_popular_popular_movie" label="50036" type="bool" default="true"/>

		<!-- Movies - Voted Items -->	
		<setting type="lsep" label="50062"/>
		<setting id="sep"/>			
		<setting id="anilist_voted_last_year_voted_movie" label="50015" type="bool" default="true"/>
		<setting id="anilist_voted_this_year_voted_movie" label="50020" type="bool" default="true"/>
		<setting id="anilist_voted_last_season_voted_movie" label="50026" type="bool" default="true"/>
		<setting id="anilist_voted_this_season_voted_movie" label="50031" type="bool" default="true"/>
		<setting id="anilist_all_time_voted_voted_movie" label="50037" type="bool" default="true"/>

		<!-- Movies - Completed Items -->	
		<setting type="lsep" label="50063"/>
		<setting id="sep"/>			
		<setting id="anilist_completed_last_year_completed_movie" label="50016" type="bool" default="true"/>
		<setting id="anilist_completed_this_year_completed_movie" label="50021" type="bool" default="true"/>
		<setting id="anilist_completed_last_season_completed_movie" label="50027" type="bool" default="true"/>
		<setting id="anilist_completed_this_season_completed_movie" label="50032" type="bool" default="true"/>

		<!-- Movies - Upcoming Items -->		
		<setting type="lsep" label="50064"/>
		<setting id="sep"/>			
		<setting id="anilist_upcoming_last_year_upcoming_movie" label="50017" type="bool" default="true"/>
		<setting id="anilist_upcoming_this_year_upcoming_movie" label="50022" type="bool" default="true"/>
		<setting id="anilist_upcoming_next_year_upcoming_movie" label="50023" type="bool" default="true"/>
		<setting id="anilist_upcoming_last_season_upcoming_movie" label="50028" type="bool" default="true"/>
		<setting id="anilist_upcoming_this_season_upcoming_movie" label="50033" type="bool" default="true"/>
		<setting id="anilist_upcoming_next_season_upcoming_movie" label="50034" type="bool" default="true"/>

		<!-- TV Shows - Trending Items -->	
		<setting type="lsep" label="50065"/>
		<setting id="sep"/>		
		<setting id="anilist_trending_last_year_trending_tv" label="50013" type="bool" default="true"/>
		<setting id="anilist_trending_this_year_trending_tv" label="50018" type="bool" default="true"/>
		<setting id="anilist_trending_last_season_trending_tv" label="50024" type="bool" default="true"/>
		<setting id="anilist_trending_this_season_trending_tv" label="50029" type="bool" default="true"/>
		<setting id="anilist_all_time_trending_trending_tv" label="50035" type="bool" default="true"/>

		<!-- TV Shows - Popular Items -->	
		<setting type="lsep" label="50066"/>
		<setting id="sep"/>			
		<setting id="anilist_popular_last_year_popular_tv" label="50014" type="bool" default="true"/>
		<setting id="anilist_popular_this_year_popular_tv" label="50019" type="bool" default="true"/>
		<setting id="anilist_popular_last_season_popular_tv" label="50025" type="bool" default="true"/>
		<setting id="anilist_popular_this_season_popular_tv" label="50030" type="bool" default="true"/>
		<setting id="anilist_all_time_popular_popular_tv" label="50036" type="bool" default="true"/>

		<!-- TV Shows - Voted Items -->	
		<setting type="lsep" label="50067"/>
		<setting id="sep"/>			
		<setting id="anilist_voted_last_year_voted_tv" label="50015" type="bool" default="true"/>
		<setting id="anilist_voted_this_year_voted_tv" label="50020" type="bool" default="true"/>
		<setting id="anilist_voted_last_season_voted_tv" label="50026" type="bool" default="true"/>
		<setting id="anilist_voted_this_season_voted_tv" label="50031" type="bool" default="true"/>
		<setting id="anilist_all_time_voted_voted_tv" label="50037" type="bool" default="true"/>

		<!-- TV Shows - Completed Items -->	
		<setting type="lsep" label="50068"/>
		<setting id="sep"/>			
		<setting id="anilist_completed_last_year_completed_tv" label="50016" type="bool" default="true"/>
		<setting id="anilist_completed_this_year_completed_tv" label="50021" type="bool" default="true"/>
		<setting id="anilist_completed_last_season_completed_tv" label="50027" type="bool" default="true"/>
		<setting id="anilist_completed_this_season_completed_tv" label="50032" type="bool" default="true"/>

		<!-- TV Shows - Upcoming Items -->		
		<setting type="lsep" label="50069"/>
		<setting id="sep"/>			
		<setting id="anilist_upcoming_last_year_upcoming_tv" label="50017" type="bool" default="true"/>
		<setting id="anilist_upcoming_this_year_upcoming_tv" label="50022" type="bool" default="true"/>
		<setting id="anilist_upcoming_next_year_upcoming_tv" label="50023" type="bool" default="true"/>
		<setting id="anilist_upcoming_last_season_upcoming_tv" label="50028" type="bool" default="true"/>
		<setting id="anilist_upcoming_this_season_upcoming_tv" label="50033" type="bool" default="true"/>
		<setting id="anilist_upcoming_next_season_upcoming_tv" label="50034" type="bool" default="true"/>
	</category>	

	<!-- Shortcuts -->
	<category label="40416">
		<!-- Self-Hosting -->
		<setting type="lsep" label="40477"/>
		<setting id="sep"/>
		<setting id="consumet.hosting.bool" label="40478" type="bool" default="false"/>
		<setting id="consumet.hosting.menu" type="text" subsetting="true" label="40479" visible="eq(-1,true)"/>
		<setting id="consumet.hosting.instructions" type="action" subsetting="true" label="40480" action="RunPlugin(plugin://plugin.video.otaku/consumet_inst)" visible="eq(-2,true)"/>

		<!-- Tools -->
		<setting type="lsep" label="50012"/>
		<setting id="sep"/>
		<setting id="change_log" type="action" label="30027" action="RunPlugin(plugin://plugin.video.otaku/change_log)"/>
		<setting id="clear_cache" type="action" label="30021" action="RunPlugin(plugin://plugin.video.otaku/clear_cache)"/>
		<setting id="clear_torrent_cache" type="action" label="30022" action="RunPlugin(plugin://plugin.video.otaku/clear_torrent_cache)"/>
		<setting id="clear_history" type="action" label="30023" action="RunPlugin(plugin://plugin.video.otaku/clear_all_history)"/>
		<setting id="rebuild_database" type="action" label="30026" action="RunPlugin(plugin://plugin.video.otaku/rebuild_database)"/>
		<setting id="wipe_addon_data" type="action" label="30024" action="RunPlugin(plugin://plugin.video.otaku/wipe_addon_data)"/>

		<!-- Language Invoker -->
		<setting type="lsep" label="40502" />
		<setting id="sep"/>
		<setting id="reuselanguageinvoker.status" label="Re-Use Language Invoker Status: " type="text" default="Disabled" enable="false" />
		<setting id="reuselanguageinvoker.toggle" label="40503" type="action" option="close" action="RunPlugin(plugin://plugin.video.otaku/toggleLanguageInvoker)"/>
		
		<!-- Overrides -->
		<!-- <setting type="lsep" label="40474"/> -->
		<!-- <setting id="sep"/> -->
		<!-- <setting id="override.episode.bool" label="40475" type="bool" default="false"/> -->
		<!-- <setting id="override.episode.menu" type="labelenum" subsetting="true" label="40476" values="Consumet|Enime|Simkl" default="0" visible="eq(-1,true)"/> -->
		<!-- <setting id="sep"/> -->
	</category>
</settings>
